body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  background-color: #adb4ff4d;
}

header {
  background-color: #333;
  color: #fff;
  padding: 40px;
  margin: 20px;
  display: flex;
  align-items: left;
  justify-content: left;
}

#h1_header {
  size: 10%;
}

#logo {
  size: 10%;
  align-items: left;
}

nav {
  border: 1px solid #333; 
  padding: 20px; 
  width: 500px;
  margin: 20px;
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 
}

nav li {
  display: block; 
  margin-bottom: 10px; 
}

nav a {
  color: #333;
  text-decoration: none;
  padding: 10px; 
}

nav a:hover {
  background-color: #333;
  color: #fff;
}


main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Legacy {
  width: 1200px;
  border: 5px solid #003ce0;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
}

#Career {
  width: 1200px;  
  border: 5px solid blue;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
}

#Extra {
  width: 1200px;
  border: 5px solid blue;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
}

#video {
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
  padding: 10px;
}

#pippenimg {
}


section {
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
form {
  font-family: Arial, sans-serif;
  border: 1px solid #333;
  color: #fff;
}

.container {
  padding: 20px;
  background-color: #333;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #333;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #aa0404;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}