body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  background-color: #adb4ff4d;
}

header {
  background-color: #333;
  color: #fff;
  padding: 40px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  display: flex;
  align-items: center;
}

nav {
  border: 1px solid #333; /* Add border around the navigation */
  padding: 10px; /* Add padding inside the navigation */
  width: 500px;
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Make the navigation vertical */
}

nav li {
  display: block; /* Change to block to make each item take full width */
  margin-bottom: 10px; /* Add some spacing between items */
}

nav a {
  color: #333;
  text-decoration: none;
  padding: 10px; /* Increase the padding for bigger size */
}

nav a:hover {
  background-color: #333;
  color: #fff;
}

main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Legacy {
  width: 1200px;
  border: 5px solid #003ce0;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
}

#Career {
  width: 1200px;
  border: 5px solid blue;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
}

#Extra {
  width: 1200px;
  border: 5px solid blue;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
}
#pippenimg {
}

section {
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
